[2019-07-18 10:22] MikeWilliams-UK opened #76 "Far too many people are using outdated version"

[2019-11-23 08:32] deadlyvices opened #2 "Bundling of the Essential Oil structures with Chem4Word"
When we release Chem4Word we bundle a standard library with it, for illustrative purposes.  I was wondering if there would be any objections to our using the 2100 structure library we have generated as part of the [CEVOpen](https://github.com/petermr/CEVOpen) project.  The structures are very nice indeed and show off our custom display component brilliantly.
If it isn't OK then please let me know.

[2019-11-27 09:33] MikeWilliams-UK commented on #2
I have taken the Essential Oils database and re-processed it by utilizing our Library Export and Import functions (with minor tweak to import to calculate Inchi-Key and fetch additional properties).
This version should be used.

[2019-11-27 09:38] MikeWilliams-UK commented on #2
@deadlyvices I think that as well as the above there should be a few common ones such as benzene, water etc to "help" the right click convert to chemistry recognize more structures

[2019-12-02 11:29] MikeWilliams-UK commented on #2
Essential Oils database is now incorporated

[2019-12-02 11:29] #2 closed

[2019-12-11 01:16] ForeverFloating opened #7 "Scaling Issues at High Resolution"
**Describe the bug**
The add-on is scaled extremely small and it is hard for me to read clearly what the buttons on the top of the interface are.

**To Reproduce**
Steps to reproduce the behavior:
1. Change native screen resolution to 3840 x 2160 and Scale and Layout to 250%.
2. Click on the Chemistry Ribbon
3. Click on "Edit"
4. See error

**Expected behavior**
The menu and editing screen has con

[2019-12-11 08:23] MikeWilliams-UK commented on #7
Thank you for taking the time to report this issue.

The screens you have shown are from version 3 of the Add-In and should have been reported in the **V3** repository.

The buttons at the top of the edit screen are coming from an third party editor which we embedd in the form. Sadly we cannot change the size of the buttons.

We are also aware of the issue with the Edit labels screen.

We have red

[2019-12-11 09:06] MikeWilliams-UK commented on #7
@Wydna can you please supply high dpi high scling screen shots of ACME and Labels editors so that this issue can be closed.

[2020-01-09 06:02] tomyan112 opened #9 ""Draw" option greyed out"
**Describe the bug**
"Draw" option greyed out

**Screenshots**
![image](https://user-images.githubusercontent.com/9064351/72042142-85fd6880-32e8-11ea-9b4d-e452841af382.png)

**Desktop (please complete the following information):**
 - OS: Windows 10 Professional
 - Word Version O365 version 1912 build 12325.20288

**Version**
CHEM4Word 2020 Beta 2

[2020-01-09 07:24] MikeWilliams-UK commented on #9
Please look in your plug ins folder (this can be found from the maintenance tab of the options dialogue) and list the files present.

[2020-01-09 08:10] MikeWilliams-UK commented on #9
We have a background process which loads the plugins (which includes the editor), this may have been a bit slow and not fully completed bu the time our ribbon was displayed.
This should be evident by the draw button becoming enable as you start typing (i.e. changing the selection point)

Please could you also post your Chem4Word System Info from the menu item

Help --> System Info

This will enabl

[2020-01-09 08:56] tomyan112 commented on #9
![image](https://user-images.githubusercontent.com/9064351/72052873-e9939000-3300-11ea-970e-3ebc5c982de9.png)

[2020-01-09 08:56] tomyan112 commented on #9
Chem4Word 2020 Beta 2 [3.1.2.7312]

MachineId: 89f538e4-da23-4cd1-8786-e529e10f7c19
Operating System: Microsoft Windows 10 Pro for Workstations 64bit [10.0.19041.0] en-GB
Word Product: Microsoft Office 365 Professional Plus 64bit [16.0.12325.20288]
Internet Explorer Version: 11.0.19041.1
.Net Framework Runtime: .NET 4.8 [528372]

Settings Folder: C:\Users\tomya\AppData\Local\Chem4Word.V3
Library F

[2020-01-09 10:07] MikeWilliams-UK commented on #9
@tomyan112 thanks for the info.

This bug is now fixed https://github.com/Chem4Word/Version3-1/releases/tag/V3.1.3

[2020-01-09 10:07] #9 closed

[2020-01-09 13:16] tomyan112 opened #10 "Draw ring structure at different angle"
In previous version, ring structure can be drawn at different angle by long press and then rotate.
![image](https://user-images.githubusercontent.com/9064351/72070788-4f920e80-3325-11ea-9b4a-749d797b7214.png)

[2020-01-09 13:22] tomyan112 opened #11 "Add option to display monochrome structure in ACME"
In this version, once I not check the option "coloured atom" in the CHEMdoodle editor, ACME structure editor would follow. However ACME structure editor itself does not have this option

![image](https://user-images.githubusercontent.com/9064351/72071145-1a39f080-3326-11ea-951c-4a2d02093f77.png)

[2020-01-09 13:25] deadlyvices commented on #10
This is by design in ACME.  You have two options if you want to rotate the
ring:

   1. Drop the ring as it is placed by default.  Then double click an atom
   and use the molecule selector to rotate it
   2. Use the variable ring tool to draw the ring:  as you move the mouse
   the placeholder will rotate.

Does this meet your requirements?

On Thu, 9 Jan 2020 at 13:16, tomyan112 <notifications@g

[2020-01-09 13:46] tomyan112 opened #12 "Bond lines are not touching the ring structure"
![image](https://user-images.githubusercontent.com/9064351/72072710-7d795200-3329-11ea-9b2b-e5caec1cb58c.png)

Left: not touching   Right: touching

[2020-01-09 13:48] tomyan112 commented on #10
I see it now. Maybe showing how much angle?
![image](https://user-images.githubusercontent.com/9064351/72072875-c4674780-3329-11ea-920b-1266bb8be186.png)

[2020-01-09 13:57] tomyan112 opened #13 "Carbon numbering"
![image](https://user-images.githubusercontent.com/9064351/72073492-fe851900-332a-11ea-805f-3f881bf3cb9d.png)

[2020-01-09 14:03] tomyan112 opened #14 "Different attributes"
different charge:+2, +1 , 0,-1, -2...
Valence electrons
radical
Isotope

[2020-01-09 14:12] tomyan112 opened #15 "A label editor"
A label editor which allow us to type different text instead of only able to select from the periodic table.

[2020-01-09 14:22] MikeWilliams-UK commented on #12
Please explain what part of the system left and right are from.

[2020-01-09 14:25] MikeWilliams-UK commented on #15
The user manual details how to change the Atom to one of a set of Functional Groups.
Does this fit your needs?

[2020-01-09 14:26] tomyan112 opened #16 "Different brackets, arrows, electron flows"
Bracket
![image](https://user-images.githubusercontent.com/9064351/72075602-12327e80-332f-11ea-8586-99739f17eb97.png)

Arrows
![image](https://user-images.githubusercontent.com/9064351/72075527-deefef80-332e-11ea-83bc-805ecbdbdc57.png)

Electron flows
half arrow, full arrow

[2020-01-09 14:30] MikeWilliams-UK commented on #16
Brackets are available for structures, arrows are an enhancement

[2020-01-09 14:31] tomyan112 commented on #15
Subscripts and ' are missing
R₂
![image](https://user-images.githubusercontent.com/9064351/72075934-a6044a80-332f-11ea-892a-5d56e30dc64d.png)

[2020-01-09 14:40] tomyan112 commented on #14
Different valence
For example , N is supposed to form 3 bonds but when I set valence two, it form 2 bonds only
![image](https://user-images.githubusercontent.com/9064351/72076729-fcbe5400-3330-11ea-8d4e-8f38c20a8cf1.png)

Radical
![image](https://user-images.githubusercontent.com/9064351/72076611-be289980-3330-11ea-921a-75da9c3726d9.png)

[2020-01-09 14:43] tomyan112 commented on #12
Left, ACME editor. Right, I removed content control and manually extended the bond.

[2020-01-09 15:12] deadlyvices commented on #12
Is one image in ACME and one in the rendered document?  Or are they both in
the document/both in ACME?

On Thu, 9 Jan 2020 at 13:46, tomyan112 <notifications@github.com> wrote:

--
Clyde

[2020-01-09 15:21] deadlyvices commented on #12
We don't recommend removing the content control as this destroys the semantic information and renders the structure uneditable.  Were you simply doing that for illustrative purposes?
If you are suggesting that the double bonds should touch the ring, then that's a reasonable suggestion.  When I draw the same molecule in ACME I get:
![image](https://user-images.githubusercontent.com/10074162/7207985

[2020-01-09 15:21] deadlyvices commented on #16
Arrows will be dealt with when we enhance ACME to handle reactions.

[2020-01-09 15:23] deadlyvices commented on #15
The ACS style guide stipulates that R group labels should be _superscripted_, not subscripted.  the functional groups include these superscripted groups
We'll look into providing R'.

[2020-01-09 15:26] deadlyvices commented on #10
We could do that.  It should also be possible to vary the ring angle by-click-dragging as you suggest.

[2020-01-09 15:30] tomyan112 commented on #12
Yes, I removed content control for illustrative purpose.
Yes, the one on the left is rendered by ACME.

Sometimes I remove content control so I can move the structure around like text box.

[2020-01-09 15:39] tomyan112 commented on #15
Typing would give the flexibility, like it sometime is denoting how many R group(cardinal) there is instead of position (ordinal).
![image](https://user-images.githubusercontent.com/9064351/72081212-0350c980-3339-11ea-8347-b7edc8ddfb10.png)

Ar for Arene
![image](https://user-images.githubusercontent.com/9064351/72081127-e3b9a100-3338-11ea-80fe-d31881227abc.png)

[2020-01-09 15:44] deadlyvices commented on #15
That -Et-OH looks anomalous.  Did you mean C<sub>2</sub>H<sub>4</sub>OH?  because if so we have a functional group for that

[2020-01-09 16:10] deadlyvices commented on #12
OK.  How you work is up to you.  But we still would not recommend doing that.

[2020-01-09 16:18] MikeWilliams-UK commented on #12
@deadlyvices I will look into why the double bonds lines rendered inside the content control are not touching the ring.

@tomyan112 can you supply an image of the end result you are trying to achieve by removing the ContentControl is?

[2020-01-09 16:25] tomyan112 commented on #12
One more example
![image](https://user-images.githubusercontent.com/9064351/72085113-bc1a0700-333f-11ea-93cc-35221bfa38d7.png)

[2020-01-09 16:29] tomyan112 commented on #12
2 scenarios,
I
Let's say, I copy and paste the structure, two structure would change simultaneously while I need two similar structure, like a complex drug with small differences.
II
I just need to move the structure around.

[2020-01-09 16:32] MikeWilliams-UK commented on #12
@tomyan112 this is what your final structure above is rendered in the document as

![image](https://user-images.githubusercontent.com/13162784/72085605-7d635d00-32fd-11ea-8bac-c7aed60b821b.png)

[2020-01-09 16:34] MikeWilliams-UK commented on #12
I
Let's say, I copy and paste the structure, two structure would change simultaneously while I need two similar structure, like a complex drug with small differences.
II
I just need to move the structure around.

i, simply use the Navigator to create an unlinked copy
ii, picture please

[2020-01-09 16:36] tomyan112 commented on #15
This would make more sense.
![image](https://user-images.githubusercontent.com/9064351/72085994-3303cf80-3341-11ea-893b-05df7bec4ab0.png)

[2020-01-09 16:40] deadlyvices commented on #15
OK, we'll make a note of this for a future release.  We'd like your input into the specification process, if that's agreeable.

[2020-01-09 16:42] tomyan112 commented on #12
I removed content control to paste the HOCH₂CH₂OH on the arrow
![image](https://user-images.githubusercontent.com/9064351/72086443-e240a680-3341-11ea-99e1-c54d42f2b873.png)

[2020-01-09 16:46] deadlyvices commented on #12
Is this how you use Chem4Word right now to draw reactions?

[2020-01-09 16:50] MikeWilliams-UK commented on #12
Thanks that is now clear.

I have just drawn this using a Word Table, I have left the borders showing so that you can see how the table is laid out.
PS: There is a bug in Word which exists since word 2010 which prevents you setting cell alignment when the cell's first object is a locked content control, so you need to set the cell alignment before inserting the chemistry

![image](https://user-ima

[2020-01-09 16:52] tomyan112 commented on #10
For 2, it is difficult to know if the ring drawn is horizontally aligned or not because the user cant feel the magnetic snap. I can't find a word to explain it. Sorry for being pedantic.
![image](https://user-images.githubusercontent.com/9064351/72087307-339d6580-3343-11ea-8875-83243bae241f.png)
Left: slightly tilted. Right: Perfect

[2020-01-09 16:57] MikeWilliams-UK commented on #12
Version without borders

![image](https://user-images.githubusercontent.com/13162784/72087815-ff08ba00-3300-11ea-9bf3-5cf50147c4ee.png)

[2020-01-09 16:57] deadlyvices commented on #10
Don't apologise, we really appreciate your feedback and the time you are giving to this.  Unfortunately, odd-membered rings can be very difficult to align properly.  We will look at putting the magnetic snap into the variable ring drawing tool

[2020-01-09 16:59] deadlyvices commented on #10
What are your overall impressions of ACME so far?  Doe you generally like it, apart from the improvements you have suggested?

[2020-01-09 17:03] tomyan112 commented on #12
Yeah, love your plugin, drew a lot organic reaction.
![image](https://user-images.githubusercontent.com/9064351/72088336-ea4e1580-3344-11ea-8048-c0f544703fd7.png)

[2020-01-09 17:04] deadlyvices commented on #12
Looks like you are preparing teaching materials.  Lots of them!

[2020-01-09 17:07] deadlyvices commented on #12
@MikeWilliams-UK 's comments about using tables are very useful.  If you nest tables carefully then you could reproduce everything you have drawn without needing to remove the content controls.  A 1 row x 3 column table could handle reactants, conditions and products, with a nested  3 x 1 table for the middle cell

[2020-01-09 17:09] deadlyvices commented on #12
With ACME we have tried to reproduce exactly what you have in ChemDoodle for Web, but the main reason for writing ACME was to allow us to offer the kinds of advanced features you need without your having to work around limitations.

[2020-01-09 17:10] tomyan112 commented on #15
R"
![image](https://user-images.githubusercontent.com/9064351/72088870-01d9ce00-3346-11ea-9676-ca277f0d9784.png)

[2020-01-09 17:14] MikeWilliams-UK commented on #15
In your latest drawing is the II (two capital I) or '' two single quotes or 11
In your latest drawing is the I (a capital I) or ' a single quotes or 1

[2020-01-09 17:16] tomyan112 commented on #10
I like it and the interface is neat and modern.

[2020-01-09 17:20] tomyan112 commented on #15
It is just a quotation mark.
"and '

[2020-01-09 19:25] MikeWilliams-UK commented on #12
Fixed lines joining rings in private dev branch for rendering in word document (not ACME)
![image](https://user-images.githubusercontent.com/13162784/72098139-c58e7980-3315-11ea-88f9-c9daee26c9d6.png)

[2020-01-09 19:36] deadlyvices commented on #12
It's more important in the rendering than the editor

On Thu, 9 Jan 2020, 19:25 Mike Williams, <notifications@github.com> wrote:

[2020-01-09 20:48] MikeWilliams-UK commented on #12
I will close this issue when the code is deployed.

[2020-01-09 21:50] deadlyvices commented on #15
It's the prime symbol, U+2032

[2020-01-10 17:05] tomyan112 opened #17 "Confusing explicit hydrogen (inconsistent design)"
In the editor,
![image](https://user-images.githubusercontent.com/9064351/72171635-5a749e00-340e-11ea-9af0-3fad83dd6802.png)
After rendered,
![image](https://user-images.githubusercontent.com/9064351/72171672-69f3e700-340e-11ea-9cd4-84ed0f6265a4.png)

[2020-01-10 17:43] MikeWilliams-UK commented on #17
@deadlyvices I think this is down to the Display / Editor not having the same flags as the renderer.

@tomyan112 can you include a screenshot of your renderer settings please?

[2020-01-10 17:44] tomyan112 commented on #17
![image](https://user-images.githubusercontent.com/9064351/72174105-ea691680-3413-11ea-94d4-366d768bc379.png)

[2020-01-10 17:55] MikeWilliams-UK commented on #17
I asked for the renderer settings NOT ACME settings.

[2020-01-10 18:00] MikeWilliams-UK commented on #17
You can find the renderer settings in the Options dialogue 1st tab, then click on the cog to the right of the renderer selector

[2020-01-10 18:01] tomyan112 commented on #17
![image](https://user-images.githubusercontent.com/9064351/72175088-3a48dd00-3416-11ea-818f-dfe7ed10ca31.png)

[2020-01-10 18:15] MikeWilliams-UK commented on #17
Thanks the setting for "Show Implicit Hydrogens" needs to be implemented in ACME

[2020-01-12 13:09] deadlyvices commented on #17
Again, it should be a tristate checkbox with the Null setting defaulting to the chosen renderer setting.

[2020-01-12 14:45] MikeWilliams-UK commented on #17
A tristate checkbox for any of these settings is not necessary, as there is s file system watcher in place to synchronize the settings between components.

[2020-01-12 14:58] deadlyvices commented on #17
It's meant to *decouple* the system settings from the editor settings.  A
user might well want to edit in colour but render in monochrome because of
publishing requirements.  And the settings would not be bidirectional in
this case:  setting it in the editor would *not *mean that this was
propagated back to the renderer.
Are we clear on this, now?

On Sun, 12 Jan 2020 at 14:45, Mike Williams <noti

[2020-01-18 03:25] tomyan112 commented on #17
"Show all carbon" too

[2020-01-18 04:39] tomyan112 opened #18 "Explicit carbon off not working"
**Describe the bug**
A clear and concise description [in English] of what the bug is.
![image](https://user-images.githubusercontent.com/9064351/72658693-77e9cf00-39ef-11ea-808f-bca9b68d894e.png)
![image](https://user-images.githubusercontent.com/9064351/72658699-9c45ab80-39ef-11ea-92db-20c819142972.png)

Another example
![image](https://user-images.githubusercontent.com/9064351/72660215-c73afa00-

[2020-01-18 05:30] tomyan112 opened #19 "Error occurs when I change the function group CH₂ to connect with double bond"
**Describe the bug**
A clear and concise description [in English] of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/9064351/72659179-94d5d080-39f6-11ea-88e4-c2fbb967a774.png)
![image](https://user-images.githubusercontent.com/9064351/72659184-a61edd00-39f6-11ea-9140-299cc2482581.png)
![image](https://user-images.githubusercont

[2020-01-18 07:10] tomyan112 opened #20 "Unable to add bond to R Atom"
**Describe the bug**
A clear and concise description [in English] of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
First draw a R, then add carbon chain
![image](https://user-images.githubusercontent.com/9064351/72660160-8e4e5580-3a04-11ea-9e71-b44210c6d4bc.png)

This results in molecule like R-X can't be drawn

**Expected behavior**
A clear and concise description [in Englis

[2020-01-18 08:36] tomyan112 opened #21 "Highlight part of the structure"
**Is your feature request related to a problem? Please describe.**

A clear and concise description [in English] of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A clear and concise description [in English] of what you want to happen.

**Describe alternatives you've considered**

A clear and concise description [in English] of any alternative solu

[2020-01-18 10:53] tomyan112 commented on #12
May I ask where the unlink button is?
![image](https://user-images.githubusercontent.com/9064351/72662582-d335b480-3a23-11ea-98ed-dd88416ad9d8.png)
Or do I just press insert a copy of chemistry?

[2020-01-18 11:39] tomyan112 opened #22 "Error occur after editing a structure next to an equation"
**Describe the bug**

![image](https://user-images.githubusercontent.com/9064351/72663154-1bf06c00-3a2a-11ea-8889-c4215797b534.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description [in English] of what you expected to happen.

**Screenshots**
If applicable, add screensho

[2020-01-18 11:55] MikeWilliams-UK commented on #18
This action is by design.
When a Carbon atom has either charge which is non zero or an isotope set it is always drawn.

In this scenario the option to explicitly show or hide the Carbon needs to be disable or hidden.

[2020-01-18 12:16] MikeWilliams-UK commented on #12
1. There is no Unlink button by design, simply use the insert copy to insert an unliked copy.

2. The navigator shows which structures are in memory thus includes structures which have been deleted from the document. This allows for an undo type action. To find out which navigator item(s) are linked to structures in the document, place the word cursor somewhere which is not a structure, then click

[2020-01-18 12:23] MikeWilliams-UK commented on #17
@deadlyvices do you think we should have an option to "Show all Carbon Atom" as well?
Do you feel that this is adequately covered by the setting of Exclict Display of Carbon atoms individually, thus not needed?

This was an experimental feature in the ChemDoodle Web Editors only.

This was requested by @tomyan112 today, but I can't find it in this issue????

[2020-01-18 12:31] MikeWilliams-UK commented on #17
@deadlyvices I have just checked and a Show All Carbon atoms is fully implemented in V3.

I, therefore, think we should implement it fully in C4W 2020 (V3.1)
This will require changes to both the OoXml renderer and ACME!

[2020-01-18 13:53] deadlyvices commented on #21
Hi,
Could you please add some more detail under the headings?  I'm afraid we
don't have much to go on here.

On Sat, 18 Jan 2020 at 08:36, tomyan112 <notifications@github.com> wrote:

--
Clyde

[2020-01-18 13:54] deadlyvices commented on #18
At the moment, Chem4Word will *always* display a carbon atom if a charge is
present.  This is by design

On Sat, 18 Jan 2020 at 04:40, tomyan112 <notifications@github.com> wrote:

--
Clyde

[2020-01-18 13:57] deadlyvices commented on #17
I can see one or two scenarios where it might be useful, but on the whole I
don't think the effort if implementing it is paid back by the benefits it
brings.

On Sat, 18 Jan 2020 at 12:23, Mike Williams <notifications@github.com>
wrote:

--
Clyde

[2020-01-18 14:00] deadlyvices commented on #20
I've just reproduced this.  Only happens if you select R as an **atom ** from the periodic table.  I think it's because its valence is set to 0.

[2020-01-18 14:03] deadlyvices commented on #18
It will need some tweaks to the rendering code to place the charge, if we allow ti to be displayed on non-explicit carbons.

[2020-01-18 14:04] deadlyvices commented on #22
Can you tell me if this content control is in a table cell, please?

[2020-01-18 14:06] MikeWilliams-UK commented on #18
What does the ACS Style guide say?

I think it would look silly to have a "stray" charge or isotope ...

[2020-01-18 14:09] deadlyvices opened #23 "Variable ring mode does not indicate ring size on first drawing"
**Describe the bug**
When drawing a variable ring from a blank structure, the adorner does not tell you how big it is going to be.

**To Reproduce**
Steps to reproduce the behaviour:
1. **Start Word**
2. Click on the Chem4Word  toolbar
2. Click in the document
3. Click the Draw Button
4. Select Variable Ring Mode
5. Click and drag:  the adorner arrow appears, but no ring-size number
1. **Close Wor

[2020-01-18 14:09] tomyan112 commented on #22
Can I send you the word file for you?
email address?

It is not in a table cell

[2020-01-18 14:18] MikeWilliams-UK commented on #22
Please send the example file to info@chem4word.co.uk

[2020-01-18 14:23] tomyan112 commented on #14
In chemdoodle 10
![image](https://user-images.githubusercontent.com/9064351/72665220-29652080-3a41-11ea-8aeb-0c14102476eb.png)

[2020-01-18 14:45] tomyan112 commented on #21
1. Be able to choose colour from RBG or HSB
2. To set atom labels, attributes, bonds to particular colour.

[2020-01-18 14:57] tomyan112 opened #24 "Bond type: dative"
**Is your feature request related to a problem? Please describe.**

A clear and concise description [in English] of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/9064351/72665704-e9546c80-3a45-11ea-9cd4-081e7638ee86.png)

**Describe alternatives you've considered**

A clear and concise description

[2020-01-18 14:59] deadlyvices commented on #14
Does ChemDoodle for Web support this, or is it only the paid-for ChemDoodle product?

[2020-01-18 15:07] deadlyvices commented on #18
![image](https://user-images.githubusercontent.com/10074162/72665842-344d9000-3a04-11ea-96c1-a651f69b9dc8.png)

[2020-01-18 15:07] deadlyvices commented on #18
So we're doing what we should be doing, which is to display the C label

[2020-01-18 15:49] tomyan112 commented on #14
ChemDoodle stopped its development in version 8 so I don't know.

[2020-01-18 15:59] MikeWilliams-UK commented on #18
Closed by beta 4

[2020-01-18 15:59] #18 closed

[2020-01-18 16:00] MikeWilliams-UK commented on #12
Closed by beta 4

[2020-01-18 17:10] tomyan112 commented on #12
I have updated to beta 4, this issue is still present.
![image](https://user-images.githubusercontent.com/9064351/72667588-5a9d1b00-3a58-11ea-8195-3482060e83dd.png)

[2020-01-18 18:08] MikeWilliams-UK commented on #12
I can't see anything wrong with the above diagram.
The double bonds joining rings are "touching" the ring.
The double bonds which touch a pair of single bonds, which are not part of a ring introduce a gap in the "join" of the single bonds.

This is by design.

[2020-01-19 05:07] tomyan112 commented on #12
I tried this on chemdoodle and marvinsketch in which the single bonds would join together.
![image](https://user-images.githubusercontent.com/9064351/72675308-98338f80-3abc-11ea-9e64-6f57a87704be.png)

[2020-01-19 10:19] MikeWilliams-UK commented on #12
The comparison to other drawing packages is not appropriate in certain cases as we are using an improved algorithm for drawing double bonds which are joining two single bonds.
@deadlyvices do we have something we can share as to why we are using the AM Clarke method of rendering.

The in document rendering is intended to be better quality than the editor (ACME), I agree that some of the latter joi

[2020-01-19 12:43] MikeWilliams-UK commented on #22
Thanks I have received the file and will examine it and perform some tests.

I do have a theory about what might be going wrong.

After editing has taken place we remove the "old" content control and replace it with a fresh one in which we place the drawing.
I think that when we do the removal word might be "unhelpfully" moving the insertion point into the equation.

[2020-01-19 15:07] MikeWilliams-UK commented on #12
I have now replicated the issue reported for the last three structures.
Thank you for taking the time to report it.

As this is a diffeernt issue to that reported initially I will close this issue and raise another.

[2020-01-19 15:07] #12 closed

[2020-01-19 15:13] MikeWilliams-UK opened #25 "Rendering of double bonds in document does not match ACME"
Draw the structure shown below, ensuring that the terminal double bond placement is set.

![image](https://user-images.githubusercontent.com/13162784/72683282-dc7b5b80-3acd-11ea-846f-79ebb4c8ad62.png)

**Expected behaviour**
In document rendering should offset the double bond the same as seen in the editor

Operating System: Microsoft Windows 10 Pro 64bit [10.0.18362.0] en-GB
Word Product: Microso

[2020-01-19 15:15] MikeWilliams-UK commented on #12
New issue https://github.com/Chem4Word/Version3-1/issues/25 raised.
Please make any further comments in there please.

[2020-01-19 15:25] MikeWilliams-UK commented on #22
Thanks for the example file it is exactly as I thought Word is moving the insertion point into the equation.

As a temporary work around you can add a single space between the equations  and chemistry zones.

[2020-01-19 22:17] MikeWilliams-UK commented on #10
You can tell the angle of a bond, it is displayed in the bond property dialogue when you right click on a bond if this helps.

[2020-01-21 15:32] tomyan112 opened #26 "unspecified position of functional group"
**Describe the solution you'd like**
A functional group can be attached to middle position of a ring
**Describe alternatives you've considered**
This (spaces generated between the ring and the appendage)
![image](https://user-images.githubusercontent.com/9064351/72818061-caecac00-3ca5-11ea-863d-36965ea6b96e.png)
instead of
![image](https://user-images.githubusercontent.com/9064351/72818270-274fcb8

[2020-01-24 14:04] tomyan112 commented on #12
Is it possible to let the object with locked control be wrapped around by text like the image?
![image](https://user-images.githubusercontent.com/9064351/73074680-1e086e00-3ef5-11ea-994d-ccded4427ca1.png)

[2020-01-24 15:00] MikeWilliams-UK commented on #12
The inability to wrap text around a locked content control is a problem with Word, not our Add-In

[2020-01-25 07:07] tomyan112 opened #27 "Default Bond Length setting not working for new drawing"
**Describe the bug**
Default Bond Length setting is not working if you draw in a table
![image](https://user-images.githubusercontent.com/9064351/73117546-25298d80-3f82-11ea-83ea-ffb45f36de98.png)

![image](https://user-images.githubusercontent.com/9064351/73117673-5a36df80-3f84-11ea-9c93-fdd258dd2cd9.png)

**Desktop (please complete the following information):**
Operating System: Microsoft Window

[2020-01-25 10:04] MikeWilliams-UK commented on #27
Please can you describe in more detail how these drawings were made?
The image above does not describe how they were made.

The bond length setting can be overridden when dragging a bond from an atom using the pencil cursor. During this operation, the bond length should be snapped to multiples of the bond length.

[2020-01-25 13:06] tomyan112 commented on #27
I made a video. Please take a minute to watch
https://www.youtube.com/watch?v=u61J_f2equ8

[2020-01-25 16:15] MikeWilliams-UK commented on #27
Can you please send a copy of the document to info@chem4word.co.uk as I have just tried to replicate the issue without success.

[2020-01-25 19:24] MikeWilliams-UK commented on #27
Cancel the document request.

I have found the problem.
It's nothing to do with tables, which is why I had trouble finding it initially.

The bug is that the editor is not picking up the default value, even though the drop down is correct.
This results in the new drawing having the system default bond length of 20.

When you edit an existing structure, the bond length drop down is set to the avera

[2020-01-25 19:25] MikeWilliams-UK commented on #27
@tomyan112 thanks for the video it made it easier to see what was happening.

[2020-01-25 19:25] MikeWilliams-UK commented on #27
@deadlyvices I am astonished that this was not picked up in our Alpha testing 🤪

[2020-01-25 20:58] deadlyvices commented on #27
This is why we do beta testing!  Well done @tomyan112 !

[2020-01-27 08:50] tomyan112 opened #28 "Drawing for Haworth projection"
**Is your feature request related to a problem? Please describe.**

A clear and concise description [in English] of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/9064351/73160874-20510f00-4125-11ea-8790-1738af9b3106.png)

Here is a 10s video for your reference.
https://youtu.be/YfRoXc-xpjQ

**Descr

[2020-01-27 11:27] MikeWilliams-UK commented on #10
Link to chemistry stack exchange question, which we should answer once this is implemented.

https://chemistry.stackexchange.com/questions/28997/software-for-viewing-a-structure-and-altering-bond-angles

[2020-01-29 04:00] tomyan112 opened #29 "Overlapped text"
**Describe the bug**

![image](https://user-images.githubusercontent.com/9064351/73326923-df750980-428e-11ea-9754-685a68b9e0b7.png)

**Expected behavior**
A clear and concise description [in English] of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. Windows 7/8.1/10 Ho

[2020-01-29 08:00] MikeWilliams-UK commented on #29
Please can you use the "View CML" button on the ribbon to extract the cml.
Then paste it here as **plain text** (not an image) so that we can investigate this.

[2020-01-29 09:16] MikeWilliams-UK commented on #29
Is this in ACME or rendered (in document) or both?

[2020-01-29 09:41] tomyan112 commented on #29
This occurs in both. Thus, an alignment feature is needed.
Flush Left.Creates left-justified caption text.
Centered.Creates centered caption text.
Flush Right.Creates right-justified caption text.
Justified.Creates right-left justified caption text

<cml:cml xmlns:conventions="http://www.xml-cml.org/convention/" xmlns:cml="http://www.xml-cml.org/schema" xmlns:cmlDict="http://www.xml-cml.org/dictio

[2020-01-29 09:45] MikeWilliams-UK commented on #29
Thanks for your speedy reply.
We will add this to our backlog.

[2020-01-29 10:20] MikeWilliams-UK commented on #29
Let me explain what happens with a Functional Group.

Each functional group consists of a set of components.
In the case of CH2CH2OH these are
- CH2 [Primary]
- CH2
- O
- H

When we display a Functional group a decision is made to render it forwards or backwards
The primary term is placed first such that it is centred about the atom's position (shown with red border)
Then the rest of the terms are

[2020-01-29 13:14] MikeWilliams-UK commented on #29
Just fixed the decision mechanism to work with functional groups attached to vertical bonds as in your example so that they do not overlap.

![image](https://user-images.githubusercontent.com/13162784/73359431-b8233a00-4298-11ea-9f77-36577aea50f1.png)

We will add the ability to manually override the left or right placement of functional groups at a later stage.

I am expecting to release the beta

[2020-01-31 11:09] MikeWilliams-UK commented on #10
@tomyan112 Just finished implementing the ability to change the angle of a bond, here's a sneak preview.

![image](https://user-images.githubusercontent.com/13162784/73534606-6bb33800-4419-11ea-9f8b-dc7c8f3eb910.png)

If the bond is a terminal bond only it is rotated.
Otherwise, the whole molecule is rotated.
If the value typed is invalid, the rotation will not be carried out, however other change

[2020-02-01 00:13] MikeWilliams-UK commented on #20
Fixed in Beta 5

[2020-02-01 00:13] #20 closed

[2020-02-01 00:14] MikeWilliams-UK commented on #10
Fixed in Beta 5

[2020-02-01 00:14] #10 closed

[2020-02-01 00:14] MikeWilliams-UK commented on #27
Fixed in Beta 5

[2020-02-01 00:14] #27 closed

[2020-02-01 00:15] MikeWilliams-UK commented on #29
Fixed in Beta 5

[2020-02-01 00:15] #29 closed

[2020-02-01 04:57] tomyan112 opened #30 "Shortcut key does not work in certain situation"
**Describe the bug**
Shortcut key does not work on certain situation

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new document
2. Draw a new structure, for example
![image](https://user-images.githubusercontent.com/9064351/73587080-b607e800-44f1-11ea-9ed8-878c5c9d7a7d.png)
3. ctrl+z, nothing happened.
4. select "delete" button, ctrl+z
![image](https://user-images.githubusercontent.

[2020-02-01 09:16] MikeWilliams-UK commented on #30
Just tried out <CTRL>+Z and it works fine for me.
Did you have caps lock on or pressing shift as well?
Can you produce a video like you did before to help us find out what's different about what you are doing, please?

The action you are requesting for <Ctrl>+D

[2020-02-01 13:07] tomyan112 commented on #30
https://youtu.be/ssOHaKVY_ys

[2020-02-01 13:14] MikeWilliams-UK commented on #30
Thanks for the video.

Is the problem present with all shortcuts like <Ctrl>+C when using the virtual keyboard?
Is the problem present only when using the virtual keyboard?

The editor form has to have focus to receive the key strokes. This may be a bug in how WPF interacts with a virtual keyboard.

@deadlyvices what do you think about this scenario?

[2020-02-01 13:37] tomyan112 commented on #30
I used on-screen keyboard so you can see what is happening. It also presents when using a physical keyboard.

[2020-02-01 13:46] MikeWilliams-UK commented on #30
@deadlyvices do you think that this is a keyboard focus issue?

[2020-02-02 21:24] deadlyvices commented on #30
Looks like it is.  There are other controls on the window apart from the editor, which nominally receives focus first.

[2020-02-08 08:13] tomyan112 opened #31 "Fail to add or remove hydrogen automatically"
![image](https://user-images.githubusercontent.com/9064351/74081793-ddc8f400-4a8d-11ea-93fd-da08bf25dc33.png)

https://youtu.be/VCslE7wpY_I

[2020-02-08 12:02] MikeWilliams-UK commented on #31
@deadlyvices can you have a look at this please

[2020-02-08 15:45] tomyan112 opened #32 "Chose placement of implicit hydrogen"
Currently the H is placed automatically below the C
![image](https://user-images.githubusercontent.com/9064351/74087983-56e73c00-4acc-11ea-9b3d-23a1c352fabd.png)
Request the option to move the H horizontally.
![image](https://user-images.githubusercontent.com/9064351/74088022-c2310e00-4acc-11ea-8d6b-ac39f0620ba7.png)

[2020-02-09 17:16] tomyan112 opened #33 "Double bond placement error"
After I specifically set the placement as clockwise and anticlockwise, it still display as none.
![image](https://user-images.githubusercontent.com/9064351/74106525-b57ee980-4ba2-11ea-9091-6aa21f9c24c7.png)
![image](https://user-images.githubusercontent.com/9064351/74106545-d6473f00-4ba2-11ea-954e-88a632dcd0c2.png)

Another example
![image](https://user-images.githubusercontent.com/9064351/7410660

[2020-02-09 18:24] tomyan112 commented on #33
I was trying to draw norbornene and the double bond turned in to a little dot.
![2020-02-10_02-22-24](https://user-images.githubusercontent.com/9064351/74107558-63db5c80-4bac-11ea-939e-13480ebdff31.png)

[2020-02-09 18:28] MikeWilliams-UK commented on #33
Can you please post the CML for this structure to allow us to investigate?

[2020-02-09 21:28] deadlyvices commented on #31
That looks interesting.  For one, that carbon at the other end of the bond is pentavalent, and that shouldn't have happened.

[2020-02-09 21:29] MikeWilliams-UK commented on #31
@deadlyvices they get corrected if you select all and move them, so it's a repaint issue.

[2020-02-10 01:16] tomyan112 commented on #33
<cml:cml xmlns:conventions="http://www.xml-cml.org/convention/" xmlns:cml="http://www.xml-cml.org/schema" xmlns:cmlDict="http://www.xml-cml.org/dictionary/cml/" xmlns:nameDict="http://www.xml-cml.org/dictionary/cml/name/" xmlns:c4w="http://www.chem4word.com/cml" conventions="convention:molecular">
  <c4w:customXmlPartGuid>c174876665c64c25ae3b85669c20c9e8</c4w:customXmlPartGuid>
  <cml:molecule id=

[2020-02-10 03:13] tomyan112 commented on #16
Brackets for structural repeating unit is needed.
Example:
![image](https://user-images.githubusercontent.com/9064351/74118423-5cd93c00-4bf6-11ea-9296-d43f7896c3cb.png)

[2020-02-10 08:26] MikeWilliams-UK commented on #33
Possible duplicate of #25

[2020-02-10 14:24] MikeWilliams-UK commented on #33
In the attached image I have turned on a couple of diagnostic features which allow us to diagnose issues.
Green spots show the detected centre of rings.
The dotted lines show how the extra bond line which is initially parallel to and the same size as main bond line is clipped.

**In the case of this structure, it is the calculation of the ring centre which is at fault.**

![image](https://user-ima

[2020-02-11 10:00] tomyan112 commented on #33
I tried to draw this
![image](https://user-images.githubusercontent.com/9064351/74226866-4915fe80-4cf8-11ea-8fc8-4713acf91fb0.png)
But I get this
![image](https://user-images.githubusercontent.com/9064351/74226895-50d5a300-4cf8-11ea-8d3f-b5e611d0c853.png)
A video has been made for your reference. https://youtu.be/jNpb6hgyZFI

<cml:cml xmlns:conventions="http://www.xml-cml.org/convention/" xmlns:cm

[2020-02-11 10:11] MikeWilliams-UK opened #34 "Problem rendering norbornene"
I was trying to draw norbornene and the double bond turned in to a little dot.
![2020-02-10_02-22-24](https://user-images.githubusercontent.com/9064351/74107558-63db5c80-4bac-11ea-939e-13480ebdff31.png)

_Originally posted by @tomyan112 in https://github.com/Chem4Word/Version3-1/issues/33#issuecomment-583876736_

[2020-02-11 10:13] MikeWilliams-UK commented on #34
[code]

[2020-02-11 10:15] MikeWilliams-UK commented on #34
In the attached image I have turned on a couple of diagnostic features which allow us to diagnose issues.

Green spots show the detected centre of rings.
The dotted lines show how the extra bond line which is initially parallel to and the same size as the main bond line is clipped.

**In the case of this structure, it is the calculation of the ring centre which is at fault.**

![image](https://use

[2020-02-11 10:16] MikeWilliams-UK opened #35 "Strange rendering of Functional Groups"
I tried to draw this
![image](https://user-images.githubusercontent.com/9064351/74226866-4915fe80-4cf8-11ea-8fc8-4713acf91fb0.png)
But I get this
![image](https://user-images.githubusercontent.com/9064351/74226895-50d5a300-4cf8-11ea-8d3f-b5e611d0c853.png)
A video has been made for your reference. https://youtu.be/jNpb6hgyZFI

[code]
_Originally posted by @tomyan112 in https://github.com/Chem4Word/

[2020-02-11 10:19] MikeWilliams-UK commented on #34
@tomyan112 I have created a new issue as this is nothing to do with the terminal double bond placement

[2020-02-11 10:20] MikeWilliams-UK commented on #35
@tomyan112 I have created a new issue as this has nothing to do with the terminal double bond placement

[2020-02-11 10:22] MikeWilliams-UK commented on #33
@tomyan112 this has been closed because it is a duplicate, non related issues have been created for off-topic posts

[2020-02-11 10:22] #33 closed

[2020-02-11 10:25] MikeWilliams-UK commented on #33
@tomyan112 I have created two new issues for unrelated problems
#34, #35

[2020-02-12 19:54] MikeWilliams-UK commented on #33
Closed as duplicate of https://github.com/Chem4Word/Version3-1/issues/25

[2020-02-12 21:55] deadlyvices commented on #23
Can't reproduce this easily.  Will keep an eye out for it

[2020-02-12 21:55] deadlyvices commented on #19
Can you please say what the error is?  I cannot reproduce any error messages

[2020-02-13 04:10] tomyan112 commented on #19
Sorry, I couldn't reproduce it.

[2020-02-13 04:10] #19 closed

[2020-02-13 07:24] MikeWilliams-UK commented on #19
Thanks for re testing.

[2020-02-13 07:53] tomyan112 commented on #31
Since you said it is not suppose to be pentavalent or more, this would be interesting to you. Maybe add an optional structure check?
![image](https://user-images.githubusercontent.com/9064351/74412558-adf86280-4e78-11ea-9561-2c24fc6bf3fd.png)
![image](https://user-images.githubusercontent.com/9064351/74412572-b5b80700-4e78-11ea-91ed-a96c2d4b337e.png)

[2020-02-13 08:38] tomyan112 commented on #25
![image](https://user-images.githubusercontent.com/9064351/74415929-442f8700-4e7f-11ea-9ebf-b1289ab7f196.png)
<cml:cml xmlns:conventions="http://www.xml-cml.org/convention/" xmlns:cml="http://www.xml-cml.org/schema" xmlns:cmlDict="http://www.xml-cml.org/dictionary/cml/" xmlns:nameDict="http://www.xml-cml.org/dictionary/cml/name/" xmlns:c4w="http://www.chem4word.com/cml" conventions="convention:mol

[2020-02-13 17:55] deadlyvices commented on #31
You can now intentionally draw a wrong structure but ACME will place a red circle over the over-bonded atoms.

[2020-02-13 18:18] MikeWilliams-UK commented on #31
How about a picture @deadlyvices ?

[2020-02-13 18:19] MikeWilliams-UK commented on #31
We allow intentional errors as Chem4Word is aimed at the educational market.

[2020-02-14 10:39] deadlyvices commented on #31
![image](https://user-images.githubusercontent.com/10074162/74524105-4b55a400-4f16-11ea-95c2-6820d87606fa.png)

[2020-02-16 07:07] tomyan112 opened #36 "Problem of rendering of imported .mol file"
The structure in my .mol file
![image](https://user-images.githubusercontent.com/9064351/74600491-7d5d3680-50cd-11ea-9fc1-c1e336780c45.png)
After import, the COO⁻ cannot be displayed
![image](https://user-images.githubusercontent.com/9064351/74600518-d88f2900-50cd-11ea-879a-1e35bd00033a.png)

[2020-02-16 08:28] tomyan112 opened #37 "Add cyclopentane(house) for quick access"
I think this would be useful as the rectangular shape would be difficult to draw.
![image](https://user-images.githubusercontent.com/9064351/74601427-53117600-50d9-11ea-95b7-eee83bae78a5.png)

Here is the .mol file
https://hkbuedu-my.sharepoint.com/:u:/g/personal/18220142_link_hkbu_edu_hk/EVpGZeq-BXtPuzjMtAOsl64Bbe2L-ZDXN_1DW3oS5SRLTQ?e=Ci4agK

[2020-02-16 10:22] MikeWilliams-UK commented on #36
At present we don't support input of functional groups from molfiles.

Can you post the MOLfile so that we can examine it to evaluate the possibility of doing so.

[2020-02-16 10:26] MikeWilliams-UK commented on #37
@deadlyvices how easy would it be to incorporate cyclopentane into the present shapes?

[2020-02-16 10:43] tomyan112 commented on #36
[Alanine.zip](https://github.com/Chem4Word/Version3-1/files/4209651/Alanine.zip)

[2020-02-16 10:47] tomyan112 opened #38 "Functional group orientation problem"
Don't know why the COOH is flipped.
![image](https://user-images.githubusercontent.com/9064351/74603242-84e00800-50ec-11ea-9cb1-af4d463dfe05.png)
[code]
![image](https://user-images.githubusercontent.com/9064351/74603244-8c071600-50ec-11ea-98d2-35962d5613b2.png)
[code]
Edit: TidyUp CML to render as code and remove names

[2020-02-16 11:29] MikeWilliams-UK commented on #38
The functional group is flipped because it is easy of the molecule centroid.

[2020-02-16 14:46] tomyan112 opened #39 "double bond not touching the ring"
![image](https://user-images.githubusercontent.com/9064351/74606773-12801f80-510e-11ea-9c73-d87c2dfcda00.png)

[code]
![image](https://user-images.githubusercontent.com/9064351/74606937-840c9d80-510f-11ea-9842-9788c10ab094.png)

[code]

[2020-02-16 14:47] tomyan112 commented on #24
denote possible attachment
![image](https://user-images.githubusercontent.com/9064351/74606793-36436580-510e-11ea-8bbf-d0fdb25e313c.png)

[2020-02-16 14:58] #39 closed

[2020-02-16 16:27] tomyan112 commented on #38
1. I would recommend a new function to manual flip to avoid the centroid thing
![image](https://user-images.githubusercontent.com/9064351/74608360-4ca3ee00-511b-11ea-9138-1d7d51cd8cb2.png)

2.  It does not connect with the carbon
![image](https://user-images.githubusercontent.com/9064351/74608241-77417700-511a-11ea-9ff3-f9640f1a075a.png)
![image](https://user-images.githubusercontent.com/9064351/7

[2020-02-16 16:44] MikeWilliams-UK commented on #38
One thing on our road map is to allow a user to specify how Implicit H (hydrogen) are depicted to NESW compass points.
We envisage that when we code this we will allow EW compass points for functional groups.

[2020-02-16 16:48] MikeWilliams-UK commented on #36
@deadlyvices what's your take on this?

[2020-02-16 16:58] MikeWilliams-UK commented on #38
1. With regart to the perceived length of the bond joining the Me group. Due to the technology differences there will always be slight differences between the rendering in the word and the rendering in ACME.

2. With regard to the multiply CH2 chain functional groups were designed to be terminal items, hence in certain circumstances like that which you have drawn a longer bond length is required t

[2020-02-16 18:50] MikeWilliams-UK commented on #36
I have had a quick look at the CTAB of the MOLfile and the two O atoms are clearly present. Without reference to the MDL spec I can't tell for certain (as on my phone) but I think the line with the COO at the end may be the function group.
The problem we may have is if we do not have a definition for "COO" which from memory we don't how would we arbitrarily translate such groups!

[2020-02-18 14:33] MikeWilliams-UK commented on #35
Copied from another issue #38

It does not connect with the carbon
![image](https://user-images.githubusercontent.com/9064351/74608241-77417700-511a-11ea-9ff3-f9640f1a075a.png)

See the CO₂H
![image](https://user-images.githubusercontent.com/9064351/74608337-15cdd800-511b-11ea-82ed-5a7d6136d387.png)

[2020-02-22 08:45] tomyan112 opened #40 "Incompatible with acrobat plugin"
![image](https://user-images.githubusercontent.com/9064351/75089352-bba59a80-5592-11ea-8e5c-f6436d948f63.png)
Everytime I create pdf with the plugin this error pop up.
![image](https://user-images.githubusercontent.com/9064351/75089322-74b7a500-5592-11ea-8ae5-0734285c4093.png)

[2020-02-22 14:06] MikeWilliams-UK commented on #40
@tomyan112 Could you please supply details of how we can obtain the Acrobat Plug In?

Without it we would be totally guessing about why Chem4Word crashes.

[2020-02-22 14:28] tomyan112 commented on #40
It is automatically installed with Adobe Acrobat Pro DC

[2020-02-22 16:15] MikeWilliams-UK commented on #40
@tomyan112 further point of clarification.

Does the error occur when you try to create a pdf of any document or just one with our chemistry objects inside it?

[2020-02-22 16:36] tomyan112 commented on #40
It only occurs when there the document has chemistry objects inside it.

[2020-02-22 17:58] deadlyvices commented on #40
Our chemistry objects are simply a content control with DrawingML, inside, and a matching custom XML part in the document.  There is nothing inherently 'chemical'  about either.  So I can only suppose that Acrobat isn't handling the DrawingML.

[2020-02-22 18:01] tomyan112 commented on #40
It did convert the document. However, it crashed afterward.

[2020-02-22 22:50] MikeWilliams-UK commented on #40
@tomyan112 while @deadlyvices is right in what he says it's not the full story.

Chem4Word listens to events such as "DocumentCreated", "DocumentSaved", "DocumentClosed" and many more.
The acid test to see if it is data we have placed in the document or something going wrong in one of our event listeners is to create a document with chemistry in it. Uninstall Chem4Word and see if you get an error.

[2020-02-23 05:53] tomyan112 commented on #40
No errors after I uninstalled Chem4Word.

[2020-02-23 09:46] MikeWilliams-UK commented on #40
@tomyan112 thanks for testing this it narrows down where we need to investigate.

[2020-03-02 13:02] MikeWilliams-UK commented on #25
@tomyan112 this is how the above structure is now rendered in Word.

![image](https://user-images.githubusercontent.com/13162784/75678595-e7590c80-5c85-11ea-9529-6a5018cebe3f.png)

[2020-03-02 13:05] MikeWilliams-UK commented on #34
@tomyan112 this is how norbornene is now rendering in Word

![image](https://user-images.githubusercontent.com/13162784/75678837-64848180-5c86-11ea-94be-13ca52f21e84.png)

[2020-03-03 09:19] tajwarhq opened #41 "Add the pi electron structure for benzene."
Hi,
I'm a student in the UK. For the vast majority of cases, the skeletal formula of benzene that showcases the pi bonding structure (the hexagon with the circle in the middle) is the only relevant skeletal model. The alternating double bonds represent the Kekulé model which is considered "wrong" in most syllabi at my level of education.

I would appreciate it if the pi bonding model could be adde

[2020-03-04 17:55] MikeWilliams-UK opened #42 "The user gets a operation cannot be performed error when saving a document"
**Describe the bug**
The user gets an error message when saving a document

**To Reproduce**
Steps to reproduce the behaviour:
Unknown at this time

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro for Workstations
 - Word Version O365 Professional Plus 64 bit

Stack Trace ...
[code]

[2020-03-04 17:59] MikeWilliams-UK opened #43 "Error when inserting chemistry from the navigator"
**Describe the bug**
The user gets an error message when inserting chemistry from the navigator

**To Reproduce**
Steps to reproduce the behaviour:
Unknown, but telemetry shows that Copy button pressed twice.
As far as I can tell the double click protection of the buttons is working.

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro for Workstations
 - Word Version O3

[2020-03-05 10:45] tomyan112 commented on #43
Sorry, it happens in random so I can't reproduce the problem too.

[2020-03-05 10:50] MikeWilliams-UK commented on #43
Thanks for taking the time to reply.

[2020-03-05 11:56] MikeWilliams-UK commented on #42
Fixed by beta-6

[2020-03-05 11:56] #42 closed

[2020-03-05 11:56] MikeWilliams-UK commented on #40
Fixed by beta-6

[2020-03-05 11:56] #40 closed

[2020-03-05 11:57] MikeWilliams-UK commented on #35
Fixed by beta-6

[2020-03-05 11:57] #35 closed

[2020-03-05 11:57] MikeWilliams-UK commented on #34
Fixed by beta-6

[2020-03-05 11:57] #34 closed

[2020-03-05 11:58] MikeWilliams-UK commented on #31
Fixed by beta-6

[2020-03-05 11:58] #31 closed

[2020-03-05 11:58] MikeWilliams-UK commented on #30
Fixed by beta-6

[2020-03-05 11:58] #30 closed

[2020-03-05 11:58] MikeWilliams-UK commented on #25
Fixed by beta-6

[2020-03-05 11:58] #25 closed

[2020-03-05 11:58] MikeWilliams-UK commented on #17
Fixed by beta-6

[2020-03-05 11:58] #17 closed

[2020-03-05 11:59] MikeWilliams-UK commented on #11
Fixed by beta-6

[2020-03-05 11:59] #11 closed

[2020-03-05 15:32] tomyan112 opened #44 "Structure's bonds cannot be seen in ACME [Beta-6]"
I cannot see the structure when I am trying to edit it.
![image](https://user-images.githubusercontent.com/9064351/75996854-72adf880-5f39-11ea-8b2a-3a95e3e450c7.png)

[code]
Edit: Add markup to tidy structure

[2020-03-05 16:03] MikeWilliams-UK commented on #44
Hi Tom,

I have found that this is a new issue with elements Ts, No and Ac in our periodic table definition.

I am consulting our chemistry expert @deadlyvices to see how to fix this properly.

With a temporary fix in code this is how your cml shows in the editor.

![image](https://user-images.githubusercontent.com/13162784/75999931-d402a700-5efa-11ea-95a7-c1c31ce5adfe.png)

[2020-03-05 16:15] MikeWilliams-UK commented on #44
@deadlyvices I think that this is the list of elements which are affected
![image](https://user-images.githubusercontent.com/13162784/76001070-753e2d00-5efc-11ea-9c11-fd91f4e9f7fe.png)

Valencies string is empty.

[2020-03-05 16:18] MikeWilliams-UK commented on #44
@tomyan112 as your structure does not include Functional groups nor nested molecules you should be able to temporarily switch to the previous editor (ChemDoodle Web) to edit this structure.

[2020-03-06 10:53] MikeWilliams-UK opened #45 "ChEBI Search broken [Beta-6]"
**Describe the bug**
Using the ChEBI search is no longer working

[code]

[2020-03-06 10:54] MikeWilliams-UK commented on #45
This is fixed in beta-7, which I am intending to release today.

[2020-03-06 10:54] MikeWilliams-UK commented on #44
This is fixed in beta-7, which I am intending to release today.

[2020-03-06 11:17] #44 closed

[2020-03-06 11:17] #45 closed

[2020-03-06 14:04] tomyan112 commented on #44
Thank you for your fix.
I just want to show what I was doing with that. I removed the content control to get the letters for the protecting group.
![image](https://user-images.githubusercontent.com/9064351/76090339-5a4fe380-5ff6-11ea-957b-5a419978d53c.png)

[2020-03-06 14:34] MikeWilliams-UK commented on #44
@tomyan112 very clever :-)

[2020-03-06 18:53] tomyan112 opened #46 "Incorrect valency"
![image](https://user-images.githubusercontent.com/9064351/76113246-c0506100-601e-11ea-9cae-747f7b95d90c.png)

[code]

Edit: Added xml markdown to make data clearer

[2020-03-06 19:09] tomyan112 opened #47 "Structure cannot be seen in ACME"
https://youtu.be/fyAeJGoWaOQ
The problematic file has been sent to your email.

[2020-03-06 21:53] MikeWilliams-UK commented on #47
Thanks is it JUST the file that you have sent?

[2020-03-06 21:58] MikeWilliams-UK commented on #46
@deadlyvices this one's for you to determine what's wrong. You're the chemist.

[2020-03-06 21:59] MikeWilliams-UK commented on #46
@tomyan112 please confirm which version of Chem4Word.

[2020-03-06 22:00] MikeWilliams-UK commented on #47
@tomyan112 please confirm which version of Chem4Word.

[2020-03-06 22:05] MikeWilliams-UK commented on #47
@tomyan112 no document has come through. Not even in spam folder!

Can you please send the document to info@chem4word.co.uk again?

[2020-03-06 23:30] MikeWilliams-UK commented on #47
@tomyan112 is this a file in which you have been "_tinkering_" with the ContentControls?

If so you may have accidentally broken the link between the ContentControl and the stored chemistry.

A ContentControl has many properties the two main ones which we use are:

- **Title** - This is set to the string "Chemistry" and is used to detect if it holds chemistry.
- **Tag** - This stores the internal

[2020-03-06 23:46] deadlyvices commented on #47
Does it appear the Navigator?  If not then the link is broken between the control and the chemistry. You then have an orphaned control

[2020-03-07 03:24] tomyan112 commented on #46
Beta 7

[2020-03-07 03:31] tomyan112 commented on #47
I first removed content control, and then tinkering around, then ctrl+z.

[2020-03-07 06:22] tomyan112 opened #48 "Warning circles are displayed when there is no valence violation"
![image](https://user-images.githubusercontent.com/9064351/76138017-510a5980-607e-11ea-9631-89e1c86d9435.png)

[2020-03-07 09:42] MikeWilliams-UK commented on #47
A) This is one of the main reasons we advise **against** tinkering with the ContentControl as we can't guarantee that Word's undo system will repair the connection.

B) If you open the navigator, you will be able to see all linked Chemistry in the document.
When you click on a structure in the navigator the Chemistry will be selected. If there are multiple linked copies of it the arrow icons will

[2020-03-07 09:46] MikeWilliams-UK commented on #47
Thanks @tomyan112 I have just received the document.
I will examine it today to see if it can be repaired.

[2020-03-07 09:48] MikeWilliams-UK commented on #48
@deadlyvices I am no chemistry expert, but it looks to me like the valency calculations are not taking charge into account.

[2020-03-07 10:07] tomyan112 opened #49 "Atom selection error"
https://youtu.be/UneB0SY77C8

[2020-03-07 11:25] MikeWilliams-UK commented on #47
@tomyan112 I have just confirmed using the navigator that the structure in question is not linked to any CustomXmlPart which is present in the document.

I forgot to mention earlier, that the navigator operation is bi-directional.
Not only can you select structures in the navigator to find them in the document, but you can also click on a structure to find it in the navigator.

When I click on the

[2020-03-07 11:30] MikeWilliams-UK commented on #49
@deadlyvices looking at the video produced by @tomyan112 it may be that ACME is inserting the selected atom instead of the one indicated by the atom dropdown.

[2020-03-07 18:10] tomyan112 commented on #46
More example
![image](https://user-images.githubusercontent.com/9064351/76150136-facf0200-60e1-11ea-9069-f9d6c79cb1f0.png)

[2020-03-07 22:57] MikeWilliams-UK commented on #47
@tomyan112 sorry, but we are unable to fix your document.
As this issue is caused by "_tinkering_" with the document I am going to close this issue.

As we can detect the condition I am going to issue a warning and prevent empty editor being shown.

![image](https://user-images.githubusercontent.com/13162784/76153661-e5001380-60c6-11ea-9e4d-c7539081988e.png)

[2020-03-07 22:57] #47 closed

[2020-03-08 08:31] deadlyvices commented on #46
This is by design.  Nitrogen's valencies were specified as 3 and 5 in the original Chem4Word, and we have carried those definitions through.  Likewise for Br, which has valences 1,3,5 &7, so allowing species like the perbromate ion to be drawn.
If you exceed the first valence on drawing bonds one of these atoms, it assumes the next highest is used and fills unused bonds with hydrogen atoms.

[2020-03-08 11:21] deadlyvices commented on #48
Yup that's genuine

[2020-03-08 11:39] MikeWilliams-UK commented on #48
@deadlyvices do you mean that a genuine bug?

[2020-03-08 16:54] deadlyvices commented on #48
Yes.

[2020-03-10 02:21] tomyan112 opened #50 "New shortcut keys"
Key           action
Esc           Switching between the Lasso/Rectangle Selection tools
0              Draw any bond ![image](https://user-images.githubusercontent.com/9064351/76273469-e3963d00-62b8-11ea-9631-64670104fd05.png)

1                  Single / Single Up / Single Down / Single Up/Down bond. Consecutive pressing
                    switches between these types.
                     ![im

[2020-03-10 05:03] tomyan112 opened #51 "Molecule joining operation"
![image](https://user-images.githubusercontent.com/9064351/76281224-58747180-62cf-11ea-8b4f-5300d00d1006.png)
The atom/bond selected first would stay.

[2020-03-10 11:56] MikeWilliams-UK commented on #46
Closed as this behaviour is by design.

[2020-03-10 11:56] #46 closed

[2020-03-10 14:04] tomyan112 opened #52 "Warning circles are no displayed when there is valence violation"
![image](https://user-images.githubusercontent.com/9064351/76320031-05c0a700-631b-11ea-8220-4968cb791f13.png)
It seems like it is not checking for functional group CH₂

[2020-03-10 15:19] MikeWilliams-UK commented on #52
Valency calculations are not done with functional groups.
@deadlyvices should we be doing this?

[2020-03-10 15:21] tomyan112 commented on #49
I am able to reproduce, a more detailed version is provided for you, https://youtu.be/vw_CSinjnVQ

[2020-03-10 15:31] MikeWilliams-UK commented on #49
@deadlyvices from @tomyan112 's latest video it looks like the glitch is in the Undo / Redo system.

[2020-03-10 23:13] deadlyvices commented on #52
We probably should be doing this but it isn't urgent

[2020-03-15 03:42] tomyan112 opened #53 "Default bond length not working in new document"
**Describe the bug**
Default bond length not working in new document
https://youtu.be/J-Nt7ZCkvcc
Beta-7

[2020-03-15 09:47] MikeWilliams-UK commented on #53
This is not a bug, when dragging a bond you can by design create ANY bond length you like, especially when creating a bond between two existing atom like shown in your video.

[2020-03-15 09:59] tomyan112 commented on #53
I set the default to be 25, but it changed to 75

[2020-03-15 10:33] MikeWilliams-UK commented on #53
When you open a drawing the bond length drop down is set to the value closest to the average of the incoming structure.

Again by design.

[2020-03-15 16:57] MikeWilliams-UK commented on #53
System is working as designed.

[2020-03-15 16:57] #53 closed

[2020-03-25 08:55] MikeWilliams-UK opened #54 "Exception raised on saving document"
**Describe the bug**
The exception below is sometimes occurring when a document is saved.

**To Reproduce**
Steps to reproduce the behaviour:
Unknown

**Additional context**
[code]

[2020-03-25 10:52] tomyan112 commented on #54
Can't reproduce

[2020-03-25 11:06] MikeWilliams-UK commented on #54
@tomyan112 no problem I can put defensive code to silently handle this as it looks like Word has maybe already removed the document from memory, thus we can't do anything.

The code being called is to clean up any orphaned CML structures saved inside the document. If they are still present when the document is saved a sussequent time they should be cleaned up then.

[2020-03-25 16:23] MikeWilliams-UK commented on #54
"Sticking plaster" in place - will be deployed with next version.

[2020-03-25 19:29] tomyan112 opened #55 "No response after right click the structure if using the ctrl-a shortcut"
**Describe the bug**
No response after right click the structure if using the ctrl-a shortcut

**To Reproduce**
Steps to reproduce the behavior:
1. ctrl-a
2. Right Click on the structure
3. Nothing happen

**Expected behavior**
Molecules Properties should show up

**Desktop (please complete the following information):**
Chem4Word 2020 Beta 7 - [3.1.7.7370]

Installation Id: 89f538e4-da23-4cd1-8786

[2020-03-25 20:57] deadlyvices commented on #55
Is this with one or many molecules in the editor?

[2020-03-26 03:56] tomyan112 commented on #55
one molecule

[2020-03-26 13:23] tomyan112 opened #56 "Unable to delete structure"
**To Reproduce**
Steps to reproduce the behavior:
1. Draw a structure
2. click ok to render
![image](https://user-images.githubusercontent.com/9064351/77651500-da3eed00-6fa7-11ea-9db7-08ec7522aab6.png)

3.  double click the structure and delete the structure
4. render it
5. Neither "delete" nor "backspace" can delete this thing
![image](https://user-images.githubusercontent.com/9064351/77651157-56

[2020-03-26 15:47] MikeWilliams-UK commented on #56
@tomyan112 I have walked through the code and I can see what is happening.
The editor is returning without a structure, hence an empty container (Word ContentControl) is created and locked. This cant be edited or deleted, except using Developer Tools tab to unlock it.

As I see it we have two choices when the editor returns without a structure.
1. Remove the container for the structure completely.

[2020-03-26 16:05] tomyan112 opened #57 "Shift-Click to flip shortcut not working"
**Describe the bug**
shift-click to flip shortcut not working

**To Reproduce**
Steps to reproduce the behavior:
1. use selection tool to select the molecule
2. Shift-Click the molecule
4. Nothing happened.

Another thing: The shortcut for both  mirror-vertical and mirror-horizontal is shift-click?

[2020-03-26 16:06] tomyan112 opened #58 "flip is not available when multiple molecules are selected"
as title

[2020-03-26 16:17] MikeWilliams-UK commented on #58
This is by design.

@deadlyvices do you think it would be sensible to apply to multiple molecule selections?

- Single molecule is selected - flip or mirror about the centroid of the molecule.
- All molecules selected - flip or mirror about the centroid of all molecules.
- Some molecules selected
  1. flip or mirror each selected molecule about its centroid.
  2. flip or mirror selected molecules

[2020-03-26 16:24] MikeWilliams-UK commented on #57
@tomyan112 I am not 100% sure without running the application, but I think that you have to Sift-Click on the Flip or Mirror button, so it may be the tool tip which is wrong.

@deadlyvices please confirm.

[2020-03-26 18:13] deadlyvices commented on #55
I've just tested it with single and multiple molecules.  With a single molecule, there is no problem.  With multiple molecules, Ctrl-A followed by right-click does nothing, as expected, because it's meaningless to set the property on them

[2020-03-26 18:16] deadlyvices commented on #56
Agreed.  I just reproduced those steps and I got this:
![image](https://user-images.githubusercontent.com/10074162/77681819-d56d3f80-6f8d-11ea-880d-ea4d0b352ac2.png)
But that was staring with the Draw button, which effectively uses a blank slate.

[2020-03-26 18:20] deadlyvices commented on #57
Yes, the shortcuts are as you say.  Both are working as expected.  I cannot reproduce this bug.

[2020-03-26 18:33] MikeWilliams-UK commented on #57
I think that @tomyan112 may be shift clicking on the selected molecule not the button, hence nothing is happening.

[2020-03-26 18:34] MikeWilliams-UK commented on #56
@deadlyvices agreed to what?

1 or 2

[2020-03-26 18:35] MikeWilliams-UK commented on #55
By design

[2020-03-26 18:35] #55 closed

[2020-03-26 18:47] deadlyvices commented on #56
To '@deadlyvices I think that the first choice is the most sensible.'

[2020-03-26 18:57] MikeWilliams-UK commented on #56
I will implement a fix for these scenarios when I can.
I know exactly what to do it's a case of when I can get enough time to do it.

[2020-03-26 19:00] tomyan112 commented on #57
Then this shortcut is useless, because I can just click the button, not necessary to shift-click

[2020-03-26 19:01] MikeWilliams-UK commented on #57
@deadlyvices can you please explain to @tomyan112 what the difference is between the two types of clicks on these buttons.

[2020-03-26 19:04] tomyan112 commented on #55
I realized that you need to right click the structure. I clicked on the highlighted space.

[2020-03-26 19:11] deadlyvices commented on #57
If you just click the button then you will create a mirror image of the molecule.  All the stereochemistry is inverted.  **Shift**-click on the button, and you will actually rotate it through 180 degrees:  all the stereochemistry is preserved which means that when the molecule inverts the stereobonds invert along with it.

[2020-03-28 11:30] tomyan112 opened #59 "Double bond disappears when drawn vertically in the editor"
**Describe the bug**
![image](https://user-images.githubusercontent.com/9064351/77822082-7abd1a80-712a-11ea-997d-42c6968d4a9c.png)

**To Reproduce**
https://youtu.be/YBBl0h7NR0Y

[2020-03-28 11:46] tomyan112 commented on #56
Another situation that would not allow you to delete structure.
https://youtu.be/EwjrouPU4kY

[2020-03-28 12:05] MikeWilliams-UK commented on #56
@tomyan112
What key(s) did you use to remove the structure?
Have you unlocked the content control?

[2020-03-28 12:07] MikeWilliams-UK commented on #59
@deadlyvices that looks like a refresh issue.
@tomyan112 if you select the whole structure and move it or change the bond length does the double bond re appear?

[2020-03-28 13:14] tomyan112 commented on #56
Delete.
I did not unlock the content control.
I single clicked the structure in that video.

[2020-03-28 13:16] tomyan112 commented on #59
In both cases, it would reappear.

[2020-03-28 13:17] MikeWilliams-UK commented on #56
Thanks @tomyan112 I will have a look at that method of deletion at the same time as fixing the original bug.

[2020-03-28 13:18] MikeWilliams-UK commented on #59
Thanks @tomyan112 this confirms that it's a cosmetic issue.

[2020-03-28 14:59] MikeWilliams-UK commented on #56
@tomyan112 just tried without success to replicate the actions you demonstrated in your video and I can't replicate it using either Delete or Backspace key.

[2020-03-28 15:11] tomyan112 commented on #56
I don't know why.

[2020-03-28 15:43] deadlyvices commented on #56
Two versions of Chem4Word running at the same time?  I've seen serious weirdness when this is the case, ands it seems to me like @tomyan112 should check to see whether he has two Ribbon tabs for Chem4Word.

[2020-03-28 16:16] tomyan112 commented on #56
Only the latest version as you can see from the video

[2020-03-28 16:59] MikeWilliams-UK commented on #56
@deadlyvices you can clearly see only one ribbon in the video.
@tomyan112 can you do help -> system info and verify that all the Chem4Word DLLs loaded have the same version number.

[2020-03-28 17:07] tomyan112 commented on #56
Chem4Word 2020 Beta 7 - [3.1.7.7370]

Installation Id: 89f538e4-da23-4cd1-8786-e529e10f7c19
Operating System: Microsoft Windows 10 Pro for Workstations 64bit [10.0.19041.0] en-GB
Word Product: Microsoft Office 365 Professional Plus 64bit [16.0.12624.20320]
Internet Explorer Version: 11.0.19041.153
.Net Framework Runtime: .NET 4.8 [528372]

Settings Folder: C:\Users\tomya\AppData\Local\Chem4Word.V3

[2020-03-28 17:36] MikeWilliams-UK commented on #56
@tomyan112 all the DLLs look fine.

[2020-03-28 17:42] MikeWilliams-UK commented on #56
@deadlyvices it would only be developers who have two ribbons as the installer checks to see if an old version is present and halts if it can't be automatically replaced.

[2020-03-29 10:31] MikeWilliams-UK commented on #56
@tomyan112 just had another look at your video.

I have observed that
1. Structure is inside a table cell.
2. Adobe add in is enabled.

I will try later with structure inside a table.
Can you try with Adobe add in disabled.

[2020-03-29 12:04] Wydna commented on #56
If it helps, I've just created a table with text and structures, and I can delete the structures with no issues, even with the Acrobat add in installed.

[2020-03-29 12:17] MikeWilliams-UK commented on #56
Thanks for testing that @Wydna

[2020-03-31 17:19] tomyan112 opened #60 "Not able to access molecules properties with [CH₄]"
First draw this structure
![image](https://user-images.githubusercontent.com/9064351/78055548-478ebb80-73b6-11ea-886f-221b4bb72074.png)
then delete one of the CH₃
![image](https://user-images.githubusercontent.com/9064351/78055609-5d03e580-73b6-11ea-9e8f-20e18f312db2.png)
I notice there is no count n option in molecules properties

<cml:cml xmlns:conventions="http://www.xml-cml.org/convention/" xm

[2020-04-02 12:57] MikeWilliams-UK commented on #60
@tomyan112 This is because a single atom molecule does not (by design) have access to the molecule properties dialogue.
@deadlyvices Can you think of any case where a user would want brackets or count on a single atom molecule.

[2020-04-02 13:16] MikeWilliams-UK commented on #60
@deadlyvices When a molecule with multiple atoms that has brackets etc set is demoted to a single atom molecule I think we should remove the brackets etc to make it consistent with what can be drawn starting from a single atom molecule.

[2020-04-02 13:32] tomyan112 commented on #60
Radical cation formed by electrospray ionization?

[2020-04-02 13:37] MikeWilliams-UK commented on #57
Closed as this is by design

[2020-04-02 13:37] #57 closed

[2020-04-03 08:37] MikeWilliams-UK commented on #60
@tomyan112 sorry but I am not a chemist. Can you draw a picture of how you think a single atom molecule should look like for "Radical cation formed by electrospray ionization."

[2020-04-03 09:04] tomyan112 commented on #60
![image](https://user-images.githubusercontent.com/9064351/78343307-3966b800-75cd-11ea-8b28-39e9480106f2.png)

[2020-04-03 09:25] MikeWilliams-UK commented on #60
@tomyan112 all of the above "features" are by design.

@deadlyvices how many of the above should we be implementing in the future?

[2020-04-03 11:08] deadlyvices commented on #60
Polymer brackets we probably should.  Not so sure about bracketing a single atom molecule though

[2020-04-03 13:18] tomyan112 commented on #60
here is a slide for your reference
![image](https://user-images.githubusercontent.com/9064351/78364728-8ad46e80-75f0-11ea-9d8a-d9ccd965c384.png)

[2020-04-03 14:08] MikeWilliams-UK commented on #60
@deadlyvices which bit of the above diagrams is polymer brackets

[2020-04-03 14:22] tomyan112 commented on #60
When the brackets are drawn through the middle of the bonds
![image](https://user-images.githubusercontent.com/9064351/78370576-67fa8800-75f9-11ea-94b7-d2eb36be78ef.png)

[2020-04-03 14:35] MikeWilliams-UK commented on #60
Thanks @tomyan112

[2020-04-06 10:02] MikeWilliams-UK commented on #60
@deadlyvices for the scenario below
![image](https://user-images.githubusercontent.com/9064351/78343307-3966b800-75cd-11ea-8b28-39e9480106f2.png)

We could introduce a new button with the symbol "[ ]" which would be activated when a single atom molecule is selected when clicked this will show the molecule properties dialog. Thus allowing the diagram shown above to be created.

[2020-04-08 15:44] MikeWilliams-UK commented on #52
It was never intended to use some "internal" Functional groups as shown in the above diagram.
They are to facilitate the composition of more complex Functional Groups

We have therefore decided to make the internal functional group no longer available to be selected in the UI.

On import, they will be automatically converted as follows:-
- CH2 -> C
- CH3 -> C
- OH -> O
- NH2 -> N

Doing this will

[2020-04-09 06:38] tomyan112 opened #61 "Template Library"
**Is your feature request related to a problem? Please describe.**
A template library implemented in the editor
Library includes both standard and custom user templates

**Describe the solution you'd like**
After double click the template, the structure is save to clipboard. The user then can click the space in the editor to paste it.

![image](https://user-images.githubusercontent.com/9064351/788

[2020-04-09 11:56] MikeWilliams-UK commented on #56
Fixed in V3.1.8 Beta 8

[2020-04-09 11:56] #56 closed

[2020-04-09 11:57] MikeWilliams-UK commented on #54
Fixed in V3.1.8 Beta 8

[2020-04-09 11:57] #54 closed

[2020-04-09 11:57] MikeWilliams-UK commented on #48
Fixed in V3.1.8 Beta 8

[2020-04-09 11:57] #48 closed

[2020-04-09 14:06] tomyan112 opened #62 "Allow custom value of length in bond properties"
**Is your feature request related to a problem? Please describe.**
In current version, Chem4Word 2020 Beta 8, the default bond length for 1 letter elements (e.g. C,O,N) and 2 letter elements are different (e.g. Ru)
![image](https://user-images.githubusercontent.com/9064351/78903377-9ec71700-7aad-11ea-96b5-bc1e2b4900db.png)
![image](https://user-images.githubusercontent.com/9064351/78903396-a7b7e88

[2020-04-09 14:25] MikeWilliams-UK commented on #62
During the drawing process, the atom label characters are positioned first such that the area occupied by the string of each of its characters (excluding any implicit H or charge characters) is centred on the atom's position.
The bond lines are then drawn such that they do not enter the area of the atom character's strings

In the diagram below the Atom Position is shown as a red dot and the Chara

[2020-04-09 14:32] MikeWilliams-UK commented on #62
@deadlyvices Can you think of what would cause the bond length snapping not set the length to 50 in case of the structure @tomyan112 has drawn?

[2020-04-09 15:01] deadlyvices commented on #62
No idea at all.  You **can** drag the bond length precisely by holding down the Shift key when dragging an atom.  Perhaps we should amend the adroner to give numerical length and angle feedback?

[2020-04-09 15:08] tomyan112 commented on #62
It was actually a feature request for allowing typing the bond length like we can do with bond angle.
The bond length shown here is another molecule that I drawn, not the one shown in here, sorry for the confusion.

[2020-04-09 15:13] MikeWilliams-UK commented on #62
@deadlyvices I think that adding an adorner with length and angle **relative to screen north** would be a very valuable addition.

[2020-04-09 15:27] deadlyvices commented on #62
Or even just displaying the values in the status bar would be incredibly useful

[2020-04-09 15:34] MikeWilliams-UK commented on #62
Yes that would be useful, however
- if at end of line easily be missed especially if it kept on shifting position
- or might go off the end if the from was small

I prefer an adorner as the user's "focus" is on where the mouse cursor is.

[2020-04-12 05:43] tomyan112 opened #63 "Cancel button not working"
**To Reproduce**
1. Draw something
![image](https://user-images.githubusercontent.com/9064351/79061425-c642fd00-7cc2-11ea-8930-2c03157ce6a7.png)
2.  Double click to edit and click ok
![image](https://user-images.githubusercontent.com/9064351/79061448-04d8b780-7cc3-11ea-9e94-c049e8c1f1c8.png)

3. click cancel button at bottom right corner
![image](https://user-images.githubusercontent.com/9064351/7

[2020-04-12 08:56] MikeWilliams-UK commented on #63
This is by design.

The user has already said they want the changes to be saved when they clicked ok on the editor dialogue.

The cancel on the edit labels dialogue (when popped up after an edit) is to only cancel any editing of the labels, NOT cancel the saving of the changes performed in the editor.

The label editor is popped up after saving an edited structure to allow the user to optionally r

[2020-04-12 09:47] MikeWilliams-UK commented on #63
Chem4Word has operated in this manner since version 2.0.1.0 which has been in use since at least August 2016 (I can only trace back this far as this is when we moved the code from CodePlex to GitHub)

[2020-04-12 09:47] #63 closed

[2020-04-17 04:22] tomyan112 opened #64 "Anticlockwise double bond drawing issue"
**Describe the bug**
In editor
![image](https://user-images.githubusercontent.com/9064351/79531838-11d01f00-80a6-11ea-910c-34262780d878.png)
After rendering
![image](https://user-images.githubusercontent.com/9064351/79531814-f8c76e00-80a5-11ea-992b-a0ba73d23b79.png)

[2020-04-18 08:45] tomyan112 commented on #49
Also happen after using atomic properties
https://www.youtube.com/watch?v=k5AKym1Oy88

[2020-04-18 09:01] MikeWilliams-UK commented on #49
@tomyan112 this is by design.
After using the property dialogue the atom is selected.
Thus when the atom selection drop down is changed (all) selected atoms are changed to the selected value.

@deadlyvices maybe we should not automatically select the atom or bond after using the dialogues?

[2020-05-01 12:28] deadlyvices commented on #59
this is now fixed and will be in the next release.

[2020-05-02 06:34] tomyan112 opened #65 "1.5 bond is too dense"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/9064351/80856997-3d93fd00-8c81-11ea-8363-7fcd873d6214.png)
the half bond just becomes little dots

**Describe the solution you'd like**
Below are different density for your consideration
![image](https://user-images.githubusercontent.com/9064351/80857070-c57a0700-8c81-11ea-9056-5e6

[2020-05-03 14:21] MikeWilliams-UK commented on #65
@tomyan112 this is what it looks like now

![image](https://user-images.githubusercontent.com/13162784/80916570-6683c300-8d51-11ea-9bbe-f21309e7af3d.png)

Bond to F = Zero
Bond to BR = Half
Rest 1.5 or double

@deadlyvices it was a minor glitch in a refactoring step, which slipped through the net.

[2020-05-04 15:39] MikeWilliams-UK commented on #64
@tomyan112 this is how an anticlockwise bond is rendered now.

![image](https://user-images.githubusercontent.com/13162784/80984282-8f758800-8e25-11ea-9740-154c677364a4.png)

[2020-05-04 15:49] MikeWilliams-UK commented on #43
Closed as unable to reproduce.

[2020-05-04 15:50] #43 closed

[2020-05-04 15:51] MikeWilliams-UK commented on #23
Closing as unable to reproduce

[2020-05-06 19:28] SRHarvey opened #66 "Drawing of Markush Bond"
*Dear Team,

Thank you for sending me the link to Chem4Word Beta Version 3.1.

I have drawn the following structure:
![image](https://user-images.githubusercontent.com/64924747/81218152-9a99f680-8f92-11ea-987a-0992eb46fbad.png)

I would like to draw a bond from the R4 “atom” to the center of the six-membered ring, to indicate that the R4 group could be placed in any position on the ring (Markush b

[2020-05-06 19:31] MikeWilliams-UK commented on #66
Duplicate of https://github.com/Chem4Word/Version3-1/issues/26

[2020-05-06 19:44] MikeWilliams-UK commented on #66
Yes; In the editor right-click on the atom to bring up the properties dialogue.
Then make sure the Explicit checkbox is empty.
![image](https://user-images.githubusercontent.com/13162784/81221157-5c282a00-8fda-11ea-8fd9-adb1cc88451d.png)

[2020-05-07 07:24] deadlyvices commented on #66
Thanks for your comment @SRHarvey.    We are aware that other tools allow Variable Points of Attachment.  This is something we should provide in Chem4Word.
We are planning a feature roadmap for Chem4Word and will look at whether we can also provide VPAs, but we are a very small team and so we need to prioritise.
Regards
Clyde Davies

[2020-05-07 17:00] SRHarvey commented on #66
Thank you very much!

On Wed, May 6, 2020 at 12:44 PM Mike Williams <notifications@github.com>
wrote:

[2020-05-11 09:16] MikeWilliams-UK commented on #66
I am closing this issue as it is a duplicate of one we have on our roadmap.

[2020-05-11 09:16] #66 closed

[2020-05-11 09:17] MikeWilliams-UK commented on #26
Note: This is also referred to as Variable Points of Attachment (VPA)

[2020-05-14 12:45] #65 closed

[2020-05-14 12:45] #64 closed

[2020-05-14 12:45] #59 closed

[2020-05-14 12:45] #23 closed

[2020-05-17 13:36] tomyan112 opened #67 "Carbon shows up with "show all carbon atom labels" disable"
**Describe the bug**
I searched Butylamine
![image](https://user-images.githubusercontent.com/9064351/82148306-ffecc200-9885-11ea-8579-e7e859e55910.png)
After import, carbon shows up
![image](https://user-images.githubusercontent.com/9064351/82148320-09762a00-9886-11ea-80b7-31368c1fca33.png)
![image](https://user-images.githubusercontent.com/9064351/82148338-1bf06380-9886-11ea-973a-fcf2edb0acb5.pn

[2020-05-17 18:07] MikeWilliams-UK commented on #67
@tomyan112 the "Show All Carbon Atoms" is only applicable to non terminal Cabin atoms, therefore the system is working as designed.

Terminal carbons have to be turned off in ACME.

[2020-05-19 01:47] tomyan112 commented on #67
Suggestion:
Remove "Show All Carbon Atoms" option
Add additional option for "Show Implicit hydrogens"
On All
![image](https://user-images.githubusercontent.com/9064351/82275525-98359480-99b5-11ea-9bd5-c9ee3bb85301.png)
On Hetero and terminal
![image](https://user-images.githubusercontent.com/9064351/82275558-a8e60a80-99b5-11ea-8325-c63111a7617f.png)
On Hetero
![image](https://user-images.githubuse

[2020-05-19 11:05] tomyan112 opened #68 "Need to uncheck explicit carbon twice for this structure"
**Describe the bug**
A clear and concise description [in English] of what the bug is.
![image](https://user-images.githubusercontent.com/9064351/82319078-87ac0b00-9a03-11ea-809b-dd79f8152351.png)
![image](https://user-images.githubusercontent.com/9064351/82319157-ab6f5100-9a03-11ea-9207-e013cdb1e657.png)
After first uncheck
![image](https://user-images.githubusercontent.com/9064351/82319179-b3c78c

[2020-05-19 11:09] tomyan112 opened #69 "Unable to backhatch for this structure"
**Describe the bug**
A clear and concise description [in English] of what the bug is.
![image](https://user-images.githubusercontent.com/9064351/82319414-1de03100-9a04-11ea-80fd-70b9a62db0b7.png)
After select backhatch, it just turns into straight line
![image](https://user-images.githubusercontent.com/9064351/82319434-246ea880-9a04-11ea-9a6f-3397a5531a7c.png)

[2020-05-19 12:38] MikeWilliams-UK commented on #68
@tomyan112 please can you paste the cml as I suspect that the two inner wedges are not sharing the same atom.

[2020-05-19 12:41] MikeWilliams-UK commented on #69
@tomyan112 please can you paste the cml

[2020-05-19 12:43] tomyan112 commented on #68
You are right, my bad.

[2020-05-19 12:43] tomyan112 commented on #69
<cml:cml xmlns:conventions="http://www.xml-cml.org/convention/" xmlns:cml="http://www.xml-cml.org/schema" xmlns:cmlDict="http://www.xml-cml.org/dictionary/cml/" xmlns:nameDict="http://www.xml-cml.org/dictionary/cml/name/" xmlns:c4w="http://www.chem4word.com/cml" conventions="convention:molecular">
  <c4w:customXmlPartGuid>b2fb7879ae6a40679814b00352d8bb12</c4w:customXmlPartGuid>
  <cml:molecule id=

[2020-05-19 12:51] #68 closed

[2020-05-20 09:00] deadlyvices commented on #69
Well done on tracking that one down.  I suggest we both try to fix it together.  A session of pair programming wouldn't go amiss.

[2020-05-20 09:55] MikeWilliams-UK commented on #69
@deadlyvices I agree that +- 10 is a good range to use.

[2020-05-20 22:12] MikeWilliams-UK commented on #69
@tomyan112 this is how the above structure now renders in word and in ACME

![image](https://user-images.githubusercontent.com/13162784/82502477-19dd0d80-9aef-11ea-956d-ecdf1ff30fd0.png)

As you can see the "hidden" wedges for bonds b16 and b17 are now showing correctly.

[2020-05-21 16:33] tomyan112 opened #70 "double bond overlapping issue"
In literature it looks like this
![image](https://user-images.githubusercontent.com/9064351/82581745-9b9e6b00-9bc3-11ea-9b4e-42c9c787974c.png)

In chem4word
![image](https://user-images.githubusercontent.com/9064351/82581713-8fb2a900-9bc3-11ea-843b-574be40f01ef.png)

<cml:cml xmlns:conventions="http://www.xml-cml.org/convention/" xmlns:cml="http://www.xml-cml.org/schema" xmlns:cmlDict="http://www.

[2020-05-22 07:31] MikeWilliams-UK commented on #70
If I compare the drawing rendered in Microsoft Word vs that in the editor the crossing is not as evident.
Although there is clearly room for improvement. The double bond which has been manually placed on the "outside" of the (very "distorted") detected ring could be shortened to not touch the adjoining bond.

We have designed the system such that the rendering in Microsoft Word should be of better

[2020-05-22 09:13] MikeWilliams-UK commented on #70
This is how BIOVIA Draw 2019 renders the "Bow Tie", therefore Chem4Word is not any worse than one of the major players.

![image](https://user-images.githubusercontent.com/13162784/82651632-4f2f4b80-9c14-11ea-9654-bd6958d0079d.png)

[2020-05-22 09:28] tomyan112 commented on #70
It can be solved.
https://youtu.be/ItGlUjJXWO0

[2020-05-22 09:51] MikeWilliams-UK commented on #70
@tomyan112 thanks for the heads up that ChemDraw Professional can do it.

I have proposed an algorithm to @deadlyvices and I am awaiting his response before prioritising this issue.

It still remains a cosmetic issue as not information is lost or perceived to be lost.
We have invested a lot of time and effort in making the drawn structures in Microsoft Word to be publication-ready, and we will con

[2020-05-25 06:20] tomyan112 opened #71 "Drawing of allenic structure"
![image](https://user-images.githubusercontent.com/9064351/82784291-c96d0380-9e92-11ea-888b-2e62712c6a47.png)
an example from Zhao, D.; Oisaki, K.; Kanai, M.; Shibasaki, M. Tetrahedron Lett. 2006, 47, 1403.

[2020-05-27 11:09] deadlyvices commented on #70
I think it's a valid criticism, and would improve the product.  However it's essentially a cosmetic issue, and these bonds are close to being edge-cases.

[2020-05-27 11:10] deadlyvices commented on #49
I'm not sure about that.  We select the atom or bond to show the user the object of the last undo operation.  Otherwise it's easy to miss the reversion.

[2020-05-27 11:34] MikeWilliams-UK commented on #70
@deadlyvices I 100% agree that it's something we should solve to make Chem4Word stand out from the "norm".

That is why I am working on it now.

[2020-06-01 09:21] MikeWilliams-UK commented on #70
Fixed in word document rendering. Taret release is beta 10.

[2020-06-01 10:44] MikeWilliams-UK commented on #70
Sneak preview of beta 10 rendering.
![image](https://user-images.githubusercontent.com/13162784/83401581-fecaa180-a3fc-11ea-9e96-8fa392bd4521.png)
Note: ACME has not been updated (yet).

[2020-06-01 11:09] MikeWilliams-UK commented on #71
Sneak preview of beta 10.

![image](https://user-images.githubusercontent.com/13162784/83403476-b0b79d00-a400-11ea-9ded-6137c60a6dae.png)

[2020-06-10 14:42] tomyan112 opened #72 "Wedged bonds do not fuse nicely"
**Describe the bug**
![image](https://user-images.githubusercontent.com/9064351/84281464-3529be80-ab6b-11ea-99c3-15208657a719.png)

[code]
**Expected behavior**
From page 5 of this paper, doi:10.1002/poc.3121
![image](https://user-images.githubusercontent.com/9064351/84281622-5f7b7c00-ab6b-11ea-826d-fad3912f16e5.png)

in chemdraw
![image](https://user-images.githubusercontent.com/9064351/84281795-

[2020-06-11 08:49] MikeWilliams-UK commented on #72
Added code to "join" two wedge tails if the angle between wedges is greater than 90 degrees.
See result (this will be targeted for next release) generated from your cml above.

![image](https://user-images.githubusercontent.com/13162784/84364758-6a182e80-abc8-11ea-9e71-5c0e01730b86.png)

[2020-08-05 20:07] Wydna opened #73 "New label not available for immediate display in document"
**Describe the bug**
When a user adds a new label to a molecule, that label isn't available from the Show As button in the ribbon.

**To Reproduce**
Add a molecule to a document
Click the Edit Labels button
Add a new label, click OK
Click Show As button

New label isn't available in this list

UPDATE:  Added user label doesn't become available even if you save the document and open it again!

**Ex

[2020-08-08 15:38] MikeWilliams-UK commented on #73
@Wydna This is now fixed in the latest beta-11 internal build
![image](https://user-images.githubusercontent.com/13162784/89714310-8c92b200-d995-11ea-8003-6c44a3cbeefc.png)

[2020-08-08 15:38] #73 closed

[2020-09-02 19:50] MikeWilliams-UK commented on #72
Closed by release 1

[2020-09-02 19:50] #72 closed

[2021-01-15 18:44] pattilca opened #75 "The request was aborted: Could not create SSL/TLS secure channel."
**Describe the bug**
I am trying to use the pubchem search in the latest version of Chem4word and am getting the following error:
The request was aborted: Could not create SSL/TLS secure channel.
Please advice.  Thanks

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to puchem search
2. Enter any chemical name
3. See error:  The request was aborted: Could not create SSL/TLS secure channel

[2021-01-15 19:09] pattilca opened #74 "The request was aborted: Could not create SSL/TLS secure channel."
**Describe the bug**
I am trying to use the pubchem search in the latest version of Chem4word and am getting the following error:
The request was aborted: Could not create SSL/TLS secure channel.
Please advice.  Thanks

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to puchem search
2. Enter any chemical name
3. See error:  The request was aborted: Could not create SSL/TLS secure channel

[2021-01-15 19:11] MikeWilliams-UK commented on #74
I have transferred the issue because V3.2 has not been released due it still being developed.

[2021-01-15 19:11] MikeWilliams-UK commented on #74
Please can you tell us what version you are using?

[2021-01-15 19:38] MikeWilliams-UK commented on #74
You can find the version number in the Help -> About in our ribbon
Please also paste information from Help -> System Info

[2021-01-15 19:51] pattilca commented on #74
I was using the latest version published on the website I also tried uninstalling and installing previous versions and the pubchem either gives error or does nothing and the Opsin swirls and does nothing.  The ChEBI does work but the database is small.

[cid:image002.jpg@01D6EB4D.E031D660][cid:image008.jpg@01D6EB4D.E031D660][cid:image009.jpg@01D6EB4D.E031D660]

I am currently running an earlier ve

[2021-01-15 19:55] pattilca commented on #74
I believe the version I have been trying last is one of the previous ones and according to the webpage open I believe is:

Chem4Word V3 - Release 23 (V3.0.35)<https://github.com/Chem4Word/Version3/releases/tag/V3.0.35>

From: Mike Williams <notifications@github.com>
Sent: Friday, January 15, 2021 2:38 PM
To: Chem4Word/Version3-1 <Version3-1@noreply.github.com>
Cc: Patricia Atkins <patkins@spex.com

[2021-01-22 13:52] MikeWilliams-UK commented on #75
Hi @pattilca (Patricia)

The error "_The request was aborted: The connection was closed unexpectedly_." normally points to a firewall type issue.

Thanks for posting the information from the Help -> System Info
I have now been able to locate the telemetry from your installation.

I can see from this that you have two anti-virus/security products which we have not encountered before.

- CrowdStrike

[2021-03-24 15:06] #38 closed

[2021-03-24 15:06] MikeWilliams-UK commented on #32
Implemented in V3.2

[2021-03-24 15:06] #32 closed

[2022-01-28 08:55] MikeWilliams-UK commented on #75
Closing as no input from original poster since Jan 2021

[2022-01-28 08:55] #75 closed

[2022-01-28 08:57] MikeWilliams-UK commented on #49
Closing as no input from original poster since April 2020

[2022-01-28 08:57] #49 closed